@model Practica8Unidad2.Models.Inscripcion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Inscripcion</h2>

<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CursoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstudianteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstudianteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
